# dependencies
node_modules/

coverage

# production optimized react files
build/

# misc
.DS_Store
*.env

# whitelist only env for react -> this suppresses an error
!/client/.env

# Remove yarn files
yarn.lock

#ignore WebStorm 
.idea/