.loading-img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(50%);
}

.loading-img-finish{
    display: block;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(50%);
    opacity: 0;
    transition: opacity 1.0s;
}