.loading-img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.loading-img-finish{
    display: block;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
    transition: opacity .5s;
}

.fade-away {
    opacity: 0;
    transition: opacity .5s;
}