.container-dragDND
{
    text-align: center;
}

.LetterDND
{
    position: center;
    width:  fit;
    height: 300px;
    top: 10;
    background-color: orange;
}

.headerDND
{
    display: inline-block;
    margin: 0;
    padding: 0;
    background: gray;
    width: 100%
}

.droppableDND
{
    position: center;
    width:  fit;
    height: 300px;
    top: 10;
    background-color: aqua;
}

.cardDND
{

    float: left;
    width:  50px;
    height: 75px;
    margin: 5px auto;
    position: center;
    margin: 5px;
    background-color: green;
}

.letterHolderDND
{
    position: center;
    width: fit-content + 1px;
    height: fit-content;
    border-radius: 10px;
    background-color: white;
    margin: 5px;
}
